@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model Library.Models.Book

<div class="d-flex justify-content-center mt-4">
    <div class="col-md-4 card ">
        <form action="" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label for="Title">Title</label>
                <input type="text" class="form-control" name="Title" placeholder="Enter Genre">
                <span style="color:red">@Html.ValidationMessageFor(model => model.Title)</span>
            </div>

            <div class="form-group">
                <label for="Author">Author</label>
                <input type="text" class="form-control" name="Author" placeholder="Enter author name">
                <span style="color:red">@Html.ValidationMessageFor(model => model.Author)</span>
            </div>
            <div class="form-group">
                <label for="Edition">Edition</label>
                <input type="text" class="form-control" name="Edition" placeholder="Enter Edition">
                <span style="color:red">@Html.ValidationMessageFor(model => model.Edition)</span>
            </div>

            <div class="form-group">
                <label for="Genre">Genre</label>
                @foreach (var item in ViewData["Genres"] as List<Library.Models.Genre>)

                {

                    <input type="checkbox"  name="Genre" value="@item.Id" />@item.GenreName <br />

                }
            </div>

            <div class="form-group">
                <label for="Price">Price</label>
                <input type="text" class="form-control" name="Price" placeholder="Enter Price">
                <span style="color:red">@Html.ValidationMessageFor(model => model.Price)</span>
            </div>
            <div class="form-group">
                <label for="Upload file">Upload file</label>
                <input type="file"  name="postedFile">
                <span style="color:red">@Html.ValidationMessageFor(model => model.BookData)</span>
            </div>

            <button type="submit" class="btn btn-primary">Add</button>

        </form>
    </div>

</div>




