@model Library.Models.Book


<div>
    <form action="" method="post">
        <table>
            <tr>
                <td>Title</td>
                <td>
                    <input type="text" name="Title" placeholder="Book Title" value="" />
                    
                </td>
            </tr>
            <tr>
                <td></td>
                <td><span style="color:red">@Html.ValidationMessageFor(model => model.Title)</span></td>
            </tr>
            <tr>
                <td>Author</td>
                <td>
                    <input type="text" name="Author" placeholder="Author Name" value="" />

                </td>
            </tr>
            <tr>
                <td></td>
                <td><span style="color:red">@Html.ValidationMessageFor(model => model.Author)</span></td>
            </tr>
            
            <tr>
                <td>Edition</td>
                <td>
                    <input type="text" name="Edition" placeholder="Edition" value="" />
                    
                </td>

            </tr>
            <tr>
                <td></td>
                <td><span style="color:red">@Html.ValidationMessageFor(model => model.Edition)</span></td>
            </tr>
            <tr>
                <td>Genre</td>
                <td>
                    <input type="checkbox" name="Genre" value="Action" /> Action <br />
                    <input type="checkbox" name="Genre" value="Thriller" /> Thriller<br />
                    <input type="checkbox" name="Genre" value="Romantic" /> Romantic

                </td>
            </tr>
            <tr>
                <td>Price</td>
                <td>
                    <input type="text" name="Price" placeholder="Price" value="" />
                    
                </td>
            </tr>
            <tr>
                <td></td>
                <td><span style="color:red">@Html.ValidationMessageFor(model => model.Price)</span></td>
            </tr>
            <tr>
            <tr>
                <td>Upload file</td>
                <td>
                    <input type="file" name="file" value="" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td> <span style="color:red">@Html.ValidationMessageFor(model => model.File)</span></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="Submit" value="Add" /></td>
            </tr>
        </table>
    </form>
</div>
