@model Library.Models.Book


@{
    Layout = "~/Views/Shared/_CusLayout.cshtml";
}
<div>
    <h4>Book</h4>
    <hr />
    <table class="table w-auto">

        <tr class="table-primary">
            <td>
                @Html.DisplayNameFor(model => model.Title)
            </td>

            <td>
                @Html.DisplayFor(model => model.Title)
            </td>
        </tr>

        <tr class="table-success">
            <td>
                @Html.DisplayNameFor(model => model.Author)
            </td>

            <td>
                @Html.DisplayFor(model => model.Author)
            </td>
        </tr>
        <tr class="table-info">
            <td>
                @Html.DisplayNameFor(model => model.Edition)
            </td>

            <td>
                @Html.DisplayFor(model => model.Edition)
            </td>
        </tr>
        <tr class="table-warning">
            <td>
                @Html.DisplayNameFor(model => model.Price)
            </td>

            <td>
                @Html.DisplayFor(model => model.Price)
            </td>
        </tr>
    </table>
    
        
    
</div>
<p>

    @Html.ActionLink("Back", "AllBook")
</p>
